<strong>Olá, {{ user }}.</strong>
<p>Foi solicitado uma redefinição de senha para sua conta.</p>
<p>Você pode acessar o dashboard com a nova senha gerada.</p>
<p>Após fazer o login, sugerimos que faça a alteração da senha.</p>
<p>
  <strong>Sua nova senha: {{ password }}</strong>
</p>